<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="my-panel">
                        <h1 class="brand-heading">Coaching for Introverts</h1>
                        <p class="intro-text">I'm fiercely committed to helping introverts thrive in a world designed for extroverts, so you can feel comfortable in every social situation and have all the friends, dates and adventures they could ever want (while having the perfect amount of alone time as well).
                            <br>- Beacon Driscoll.</p>
                        <%= image_tag("https://s3.amazonaws.com/railsblogframework/beacon_pic.jpg", size: "100", alt: "Profile Pic", class: "profile_pic") %>
                        <br>
                        <a href="#about" class="btn btn-circle page-scroll" id="round-button">
                            <i class="fa fa-angle-double-down animate"></i>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What I do</h2>
                <p>If you're anything like me, you need a LOT of recharge time after socializing. It's even worse when hanging out 1 on 1 - going out with the wrong person means 3 hours of not knowing what to say and feeling super drained afterwards.</p>

                <p>However, there is another way! Over the years I've figured out how to relate with people in a way that actually feels ENERGIZING and has the conversation flow easily. I've decided to start teaching this system and I'm super excited to share it with you.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-left">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                <div class="my-panel">
                    <h2>With me you will learn:</h2>
                        <ol>
                            <li>How to handle "I never know what to say"</li>
                            <li>The keys to having conversation that immediately skips the "draining" part and go right to the "energizing" part, in any social situation!</li>
                            <li>How to comfortably be yourself in conversation; no more worrying if people will like you for who you are.</li>
                            <li>Make dating actually fun, so you feel like doing it more often.</li>
                        </ol>
                </div><!--/.my-panel -->
                </div>
            </div>
        </div>
    </section>

    <!-- Do-This Section -->
    <section id="how-i-do-this" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How I do this</h2>
                <p>My desire for working with introverts is very simple. How can we have more of a social life, more dates, more adventures AND still have all the quiet time you could ever want?</p>

                <p>It’s totally possible. Being more outgoing doesn’t mean becoming extroverted. Being more confident does not mean become arrogant.</p>

                <p>I run workshops every month on a variety of topics to help introverts thrive: How to have better conversations, how to feel comfortable in groups, how to say hi to anyone.</p>
            </div>
        </div>
    </section>

    <!-- Learn Section -->
    <section id="learn-this" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How to learn this for yourself</h2>
                <p>I run workshops every month on a variety of topics to help introverts thrive: How to have better conversations, how to feel comfortable in groups, how to say hi to anyone.</p>
                
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How to get started</h2>
                <p>Click <a href="https://www.meetup.com/Intimacy-for-Introverts">here</a> to see my upcoming workshops. Thank you!</p>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Beacon Coaching 2016</p>
        </div>
    </footer>






    
