<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Dating for Introverts</h1>
                        <p class="intro-text">I work with men who haven’t been on a date in forever and I help them go on as many hot dates as they can handle. Scroll down to learn more.
                            <br>- Beacon Driscoll.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What I do</h2>
                <p>If you're anything like me, you need a LOT of recharge time after socializing. It's even worse when dating - going out with the wrong person means 3 hours of not knowing what to say and feeling super drained afterwards. </p>
                <p>However, there is another way! Over the years I've figured out how to relate with people in a way that actually feels ENERGIZING and has the conversation flow easily. I've decided to start teaching this system and I'm super excited to share it with you.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-left">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                <div class="my-panel">
                    <h2>With me you will learn:</h2>
                        <ol>
                            <li>How to handle "I never know what to say"</li>
                            <li>The keys to having conversation that immediately skips the "draining" part and go right to the "energizing" part, in any social situation!</li>
                            <li>How to comfortably be yourself in conversation; no more worrying if people will like you for who you are.</li>
                            <li>Make dating actually fun, so you feel like doing it more often.</li>
                        </ol>
                </div><!--/.my-panel -->
                </div>
            </div>
        </div>
    </section>

    <!-- Do-This Section -->
    <section id="how-i-do-this" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How I do this</h2>
                <p>My system for working with guys is very simple:</p>
                <p>Our society teaches people that the wrong things are important in relationships. Most people think it’s being with someone who's attractive, or shares the same interests. What you actually need to have is similar values, hot sexual chemistry, a great friendship and deep love for each other. We will work together to build this profile of your ideal woman.</p>
                <p>Once we’ve built the profile, we will work on being your most attractive self. I’ve found that the best way to be attractive to your ideal woman is to be your best self. We dig deep into all the ways you sabotage yourself from being your best self and change them. We discover all the hidden rules for dating that you're following that are sabotaging your dates.</p>
                <p>Once we’ve got you being your most attractive self, I’ll give you my exact conversation system that takes you from “hey, there’s a cute girl over there” to “we’ve got a date next tuesday”. I’ve used this same system hundreds of times for myself and for clients.</p>
                <p>Finally, we talk about how to find your ideal woman. This is the most surprising part for everyone, since they are usually in places you would never expect.</p>
            </div>
        </div>
    </section>

    <!-- Learn Section -->
    <section id="learn-this" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How to get learn this for yourself</h2>
                <p>I’m really passionate about helping men go on dates and I’ve opened up my calendar next week for a few free sessions and i call them Hot Dates, Passionate Relationship Breakthrough Session.</p>
                <p>This is going to be a really great session. You are going to get really clear about the specific challenges you are having with dating so that you can immediately start to work on them.</p>
                <p>In this completely complimentary session: </p>
                <ul>
                    <li>You are going to create a sense of clarity about the relationship you want to have</li>
                    <li>You will discover the essential building blocks for having the dating life of your dreams</li>
                    <li>You will determine the #1 thing stopping you from dating</li>
                    <li>You will identify the most powerful actions that will move towards the relationship you desire</li>
                    <li>And you will complete the session with the excitement of knowing exactly what to do next to create the romantic life you truly want</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How to get started</h2>
                <p>Click <a href="http://www.bit.ly/beaconcoaching">here</a> to access my calendar and see which slots are available. Thank you!</p>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Beacon Coaching 2016</p>
        </div>
    </footer>






    
