<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Learn the new rules for dating!</h1>
                        <p class="intro-text">I help single guys go on dates with incredible sexual chemistry.
                            <br>- Beacon Driscoll.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What I do</h2>
                <p>I run an intensive, one-on-one coaching program where we dive deeply into
                the actual reality of how dating works <em>right now</em>!</p>
                <p>Our society is awful about teaching guys how to date women.  In order to
                overcome that, we have some work to do! First we have to figure out <em>who</em>
                your ideal woman is (hint, it's not the list you already have). Second, we need
                to learn how to attract her.  Third, we need to find her. And finally, once you've
                found her, learn how to talk to her in a way that naturally leads to more hot and 
                sexy dates!</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-left">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                <div class="my-panel">
                    <h2>How I do this</h2>
                        <p>My system for working with guys is very simple:</p>
                        <ol>
                            <li>Our society teaches people that the wrong things are important in relationships. Most people think it’s being with someone who's attractive, or shares the same interests. What you actually need to have is similar values, hot sexual chemistry, a great friendship and deep love for each other. We will work together to build this profile of your ideal woman</li>
                            <li>Once we’ve built the profile, we will work on being your most attractive self. I’ve found that the best way to be attractive to your ideal woman is to be your best self. We dig deep into all the ways you sabotage yourself from being your best self and change them. We discover all the hidden rules for dating that you're following that are sabotaging your dates.</li>
                            <li>Once we’ve got you being your most attractive self, I’ll give you my exact conversation system that takes you from “hey, there’s a cute girl over there” to “we’ve got a date next tuesday”. I’ve used this same system hundreds of times for myself and for clients.</li>
                            <li>Finally, we talk about how to find your ideal woman. This is the most surprising part for everyone, since they are usually in places you would never expect.</li>
                        </ol>
                </div><!--/.my-panel -->
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How I do this</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>






    
